.background{
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, #090979, #00d4ff);
    -fx-background-size: cover;
}

.island{
    -fx-background-image: url("/img/island.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120px;
    -fx-cursor: hand;
}

.text_label{
    -fx-text-fill: white;
}

ImageView{
    -fx-cursor: hand;
}

ImageView:hover {
    -fx-border-color: red;
    -fx-border-width: 2px;
}
