.background{
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, #090979, #00d4ff);
    -fx-background-size: cover;
}

.island{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120px;
    -fx-cursor: hand;
}

.text_label{
    -fx-text-fill: white;
}

.clickable{
    -fx-cursor: hand;
}

.clickable:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
}

.clouds_tilePanes{
    -fx-background-color: red;
}

.clouds_tilePanes2{
    -fx-background-color: yellow;
}
