.background{
    -fx-background-image: url('/img/wallpaper.jpg');
    -fx-background-size: cover;
}

.form{
    -fx-background-color: rgba(255, 245, 238, 0.63);
    -fx-background-radius: 25px;
    -fx-min-width: 400px;
    -fx-min-height: 300px;
}

.text_label{
    -fx-font-weight: bold;
}

.textField{
    -fx-font-weight: normal;
}

.title{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.btn{
    -fx-background-radius: 55px;
    -fx-padding: 10px 25px;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#fa72de, #00d4ff);
    -fx-cursor: hand;
    -fx-font-size: 16px;
}